.feed{
  margin-top: 20px;
}
.Card {
  margin: 10px;
  // border: 1px solid gray;
  height:80px;
  display: flex;
  border-radius: 4px;
  // box-shadow: 2px 2px 2px 3px gray;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);

  // flex-wrap: wrap;
  // justify-content: flex-start;
  .cardAvatar {
    flex-basis: 5%;
    margin: 10px;
    img {
      height: 50px;
      border-radius: 5px;
    }
  }

  .cardInfo {
    flex-basis: 95%;
    padding: 5px;
    // width: 100%;
    // display: flex;
    // justify-content: flex-start;
    .cardInfoProfile {
      color: gray;
      font-size: 16px;
      display: flex;
      .profileUsername {
        margin: 0 10px;
      }

      .profileHandle {
        margin: 0 10px;

      }

      .timestamp {
        margin: 0 10px;

      }
    }

    .cardInfoTweet {
      margin: 0 10px;

    }
  }
}