.SearchContainer {
  color: #00acee;
  .SearchHeading {
    padding: 10px;
    border-bottom: 2px solid #00acee;
    display: flex;
    justify-content: space-between;
    .searchAtText {}

    .autoRefreshText {}
  }
  .SearchBarContainer{
    display: flex;
    justify-content: center;
    .SearchBar{}
    .SearchButton{}
  }
}